#playground {
    width: 700px;
    height: 700px;
    background-color: black;
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
}

button {
    margin: 0 auto;
    display: block;
}

.square {
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-bg {
    background-color: lightblue;
}